services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "5011:8080"  # map host 5011 to container 8080
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=server=db;user=admin;password=admin;database=libria_db
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: libria_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"   # host:container
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
