@page "{id:int}"
@model ViewFileModel
@{
    ViewData["Title"] = "View File";
}

@if (Model.File == null)
{
    <p>File not found.</p>
}
else
{
    <h2>@Model.File.FileName</h2>

    <iframe src="/@Model.File.FilePath"
            style="width:100%; height:90vh; border:none;">
    </iframe>
}
